@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');


/* custom scrollbar */
::-webkit-scrollbar {
    width: 4px; 
  }

  ::-webkit-scrollbar-thumb{
    background: #434343; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2b2b2b; 
  }
